.ag-theme-material .ag-header-cell-label .ag-header-cell-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 117%;
    color: #000000;

}

.ag-theme-material .ag-header-cell, .ag-theme-material .ag-header-group-cell {
    border-style: solid;
    border-color: #606D80;
    line-height: 56px;
    padding-left: 24px;
    padding-right: 24px;
    border-width: 1px;
    background-color: #DCE0E5;
}


.ag-cell {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 108%;
    font-weight: normal;
}

.ag-theme-material .ag-cell {
    line-height: 275%;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid transparent;
    padding-left: 23px;
    padding-right: 23px;
}

